<?xml version="1.0"?>
<launch>
	
	<include file="$(find exp_assignment3)/launch/simulation.launch"></include>

  	<include file="$(find exp_assignment3)/launch/gmapping.launch"></include>
			
	<include file="$(find exp_assignment3)/launch/move_base.launch"></include>

	<node name="cmdManager" pkg="exp_assignment3" type="cmdManager.py" output="screen" />
</launch>

